@page "/"




<section class="hero align-content-stretch">
    <div class="hero-principal d-flex flex-column justify-content-center align-items-center">
        <img class="hero-imagen-desarrollador rounded-circle" src="/Img/img1.svg" alt="Profile picture">
        <h1>Hello, I am  Phil Doe</h1>
        <h2>Software developper </h2>
    </div>

    <div class="hero-inferior">
        <section>
            <img class="hero-inferior-imagen img-fluid" src="/Img/hero2.jpg" alt="logo developer">
        </section>
       
    </div>
</section>

<section class="sobre-mi seccion-oscura">
    <div class="contenedor">
        <h2 class="seccion-titulo">Conoce a Phil Nunez</h2>
        <p class="seccion-texto">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit,
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
            ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
            fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
            sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
</section>

<!---Experiencia-->
    
<section class="experiencia seccion-clara">
       <div class="container text-center">
       
           <div class="row">
                 <!--Desarrollo Web -->
                    <div class="columna col-12 col-md-4">
                    <i class="bi bi-laptop"></i>
                     <p class="experiencia-titulo ">Desarrollo Web</p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                </p>
                <div class="badges-contenedor">
                    <span class="badge text-bg-primary">Blazor</span>
                    <span class="badge text-bg-primary">HTML</span>
                    <span class="badge text-bg-primary">CSS</span>
                    <span class="badge text-bg-primary">C#</span>
                    <span class="badge text-bg-primary">.Net</span>

                </div>
                     </div>
                     <!-- Articulos -->
                      <div class="columna col-12 col-md-4">
                <i class="bi bi-laptop"></i>
                <p class="experiencia-titulo ">Articulos</p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                </p>
                <div class="badges-contenedor">
                    <span class="badge text-bg-primary">freeCampCode</span>
                    <span class="badge text-bg-primary">Desarrollo Web en .Net</span>
                    <span class="badge text-bg-primary">C#</span>
                  

                </div>
                     </div>
                     <!-- Estudiante -->
            <div class="columna col-12 col-md-4">
                <i class="bi bi-laptop"></i>
                <p class="experiencia-titulo ">Desarrollo Web</p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                </p>
                <div class="badges-contenedor">
                    <span class="badge text-bg-primary">Blazor</span>
                    <span class="badge text-bg-primary">HTML</span>
                    <span class="badge text-bg-primary">CSS</span>
                    <span class="badge text-bg-primary">C#</span>
                    <span class="badge text-bg-primary">.Net</span>

                </div>
                     </div>
           </div>
       
       </div> 
</section>


<!-- Projects -->
<section class="proyectos-recientes seccion-clara d-flex flex-column">
    <h2 class="seccion-titulo texto-negro">Mis proyectos</h2>
    <h3 class="seccion-descripcion">Estos sol algunos proyectos que he creado</h3>

    <!--Galeria de Proyecto-->
   
    <div class="container text-center proyecto-contenedor">
        <div class="row">

            <div class="col-12 col-md-6 col-lg-4">

                <div class="proyecto">
                    <img src="/Img/p1.jpg" alt="Proyecto 1">
                    <div class="overlay">
                        <p>Proyecto 1</p>
                        <div class="iconos-contenedor">
                            <a  hreft=""> 
                                <i class="bi bi-github"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-4">

                <div class="proyecto">
                    <img src="/Img/p2.jpg" alt="Proyecto 2">
                    <div class="overlay">
                        <p>Proyecto 2</p>
                        <div class="iconos-contenedor">
                            <a hreft="">
                                <i class="bi bi-github"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">

                <div class="proyecto">
                    <img src="/Img/p3.jpg" alt="Proyecto 3">
                    <div class="overlay">
                        <p>Proyecto 3</p>
                        <div class="iconos-contenedor">
                            <a hreft="">
                                <i class="bi bi-github"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-4">

                <div class="proyecto">
                    <img src="/Img/p4.jpg" alt="Proyecto 4">
                    <div class="overlay">
                        <p>Proyecto 4</p>
                        <div class="iconos-contenedor">
                            <a hreft="">
                                <i class="bi bi-github"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">

                <div class="proyecto">
                    <img src="/Img/p5.jpg" alt="Proyecto 5">
                    <div class="overlay">
                        <p>Proyecto 5</p>
                        <div class="iconos-contenedor">
                            <a hreft="">
                                <i class="bi bi-github"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">

                <div class="proyecto">
                    <img src="/Img/p6.jpg" alt="Proyecto 6">
                    <div class="overlay">
                        <p>Proyecto 6</p>
                        <div class="iconos-contenedor">
                            <a hreft="">
                                <i class="bi bi-github"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <a>
        <button type="button" class="btn btn-info">
            Ver mas resultados
            <i class="bi bi-arrow-right-circle-fill"></i>
        </button>
    </a>
   
</section>