<nav class="navbar navbar-expand-md navbar-light">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-toggler" aria-controls="navbar-toggler" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar-toggler">
            <a class="navbar-brand" href="#">
                <img src="/Img/icon2.png" width="50" alt="Logo de la pagina">
            </a>
            <ul class="navbar-nav d-flex justify-content-center align-items-center">
                <li >
                    <a class="nav-link" aria-current="page" href="#">About Me</a>
                </li>
                <li >
                    <a class="nav-link" href="#">Projects</a>
                </li>
                <li>
                    <a  href="#">Contacts</a>
                </li>
            </ul>
      
        </div>
    </div>
</nav>
@code {
 
}
